- attributes("title") = "YouTubeダウンロードサイト"
- attributes("headline") = "Welcome to Scalatra"
-@ val flash: org.scalatra.FlashMap
-@ val files: List[java.io.File]

-# Jade is the daddy of HTML template engines for Scala
-# pug or jade
-# https://scalate.github.io/scalate/documentation/jade-syntax.html#Scala_Evaluation

div.container
  div.hello-unit
    h1= "YouTubeのURLを入力してね"

  div.row
    form(method="POST" action="./")
      input(type="text" name="youtube-url" value="")
      input.btn.btn-primary.btn-large(type="submit" value="ダウンロード")
    div= "例) https://www.youtube.com/watch?v=Epw0yvKmN10"

  div.row
    h2= "ダウンロードリスト"
    div= flash.getOrElse("notice", "")
    ul
      - for (f <- files)
        - val name = f.getName
        - val length = f.length
        - val date = new java.util.Date(f.lastModified)
        li
          span #{date}
          a(href= name) #{name}
          span (#{length}バイト)

  footer
    p &copy; 2017 Atsushi Tada
